blis==0.4.1
certifi==2019.9.11
chardet==3.0.4
cymem==2.0.2
en-core-web-sm==2.2.0
errant==1.2.3
idna==2.8
importlib-metadata==0.23
more-itertools==7.2.0
murmurhash==1.0.2
nltk==3.4.5
numpy==1.17.3
plac==0.9.6
preshed==3.0.2
requests==2.22.0
six==1.13.0
spacy==2.2.1
srsly==0.2.0
thinc==7.1.1
tqdm==4.38.0
urllib3==1.25.6
wasabi==0.4.0
zipp==0.6.0
